$primaryColor: #FF0000;

@mixin message {
  font-family: Verdana;
  font-size: 1.5em;
}

@mixin member {
  float: left;
  /*border: 1px solid gray;*/
  margin: 10px;
  padding: 6px;
}

@mixin team {
  width: 200px;
  height: 200px;
}

body {
  @include message
}

h1 {
    color: $primaryColor;
}

#team-members {
  clear: both;
}

#team-members .member {
  @include member
}

#team-members .member img {
  @include team
}

#team-members .member div.name {
  text-align: center;  
}
